In [1]:
import sys
print(sys.executable)

C:\Users\bhima\anaconda3\python.exe

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bhima\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\bhima\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bhima\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bhima\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bhima\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\bhima\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [1]:
import pandas as pd
df = pd.read_csv("project 2 infotact.csv")
df.head(15)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0
10,1,DEBIT,9644.94,C1900366749,4465.00,0.00,C997608398,10845.0,157982.12,0,0
11,1,PAYMENT,3099.97,C249177573,20771.00,17671.03,M2096539129,0.0,0.00,0,0
12,1,PAYMENT,2560.74,C1648232591,5070.00,2509.26,M972865270,0.0,0.00,0,0
13,1,PAYMENT,11633.76,C1716932897,10127.00,0.00,M801569151,0.0,0.00,0,0
14,1,PAYMENT,4098.78,C1026483832,503264.00,499165.22,M1635378213,0.0,0.00,0,0

In [2]:
#count missing values
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [3]:
#drop the rows where amount is missing
df=df.dropna(subset=['amount'])

df = df.drop(columns=["isFlaggedFraud"])

In [8]:
#fill the missing newbalanceorig with mean
df['newbalanceOrig']=df['oldbalanceOrg'].fillna(df['oldbalanceOrg'].mean())

In [10]:
df.head(15)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,170136.00,M1979787155,0.0,0.00,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,21249.00,M2044282225,0.0,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,181.00,C553264065,0.0,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,181.00,C38997010,21182.0,0.00,1
4,1,PAYMENT,11668.14,C2048537720,41554.00,41554.00,M1230701703,0.0,0.00,0
5,1,PAYMENT,7817.71,C90045638,53860.00,53860.00,M573487274,0.0,0.00,0
6,1,PAYMENT,7107.77,C154988899,183195.00,183195.00,M408069119,0.0,0.00,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,176087.23,M633326333,0.0,0.00,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,2671.00,M1176932104,0.0,0.00,0
9,1,DEBIT,5337.77,C712410124,41720.00,41720.00,C195600860,41898.0,40348.79,0
10,1,DEBIT,9644.94,C1900366749,4465.00,4465.00,C997608398,10845.0,157982.12,0
11,1,PAYMENT,3099.97,C249177573,20771.00,20771.00,M2096539129,0.0,0.00,0
12,1,PAYMENT,2560.74,C1648232591,5070.00,5070.00,M972865270,0.0,0.00,0
13,1,PAYMENT,11633.76,C1716932897,10127.00,10127.00,M801569151,0.0,0.00,0
14,1,PAYMENT,4098.78,C1026483832,503264.00,503264.00,M1635378213,0.0,0.00,0

In [12]:
df = df.iloc[:800]

In [13]:
df.head(15)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,170136.00,M1979787155,0.0,0.00,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,21249.00,M2044282225,0.0,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,181.00,C553264065,0.0,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,181.00,C38997010,21182.0,0.00,1
4,1,PAYMENT,11668.14,C2048537720,41554.00,41554.00,M1230701703,0.0,0.00,0
5,1,PAYMENT,7817.71,C90045638,53860.00,53860.00,M573487274,0.0,0.00,0
6,1,PAYMENT,7107.77,C154988899,183195.00,183195.00,M408069119,0.0,0.00,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,176087.23,M633326333,0.0,0.00,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,2671.00,M1176932104,0.0,0.00,0
9,1,DEBIT,5337.77,C712410124,41720.00,41720.00,C195600860,41898.0,40348.79,0
10,1,DEBIT,9644.94,C1900366749,4465.00,4465.00,C997608398,10845.0,157982.12,0
11,1,PAYMENT,3099.97,C249177573,20771.00,20771.00,M2096539129,0.0,0.00,0
12,1,PAYMENT,2560.74,C1648232591,5070.00,5070.00,M972865270,0.0,0.00,0
13,1,PAYMENT,11633.76,C1716932897,10127.00,10127.00,M801569151,0.0,0.00,0
14,1,PAYMENT,4098.78,C1026483832,503264.00,503264.00,M1635378213,0.0,0.00,0

In [18]:
df.to_csv("project 2 infotact.csv",index=False)

In [ ]:
df.to_csv(r"C:\Users\YourUsername\Desktop\project_2_infotact.csv", index=False)